body {
  background-color: rgb(199 , 196 , 168);
  font-family: Rye, cursive;
  margin: 0;
  padding: 0;
}

header {
  background-image: url('https://cdn.pixabay.com/photo/2014/10/25/15/55/newspaper-502778_1280.jpg');
  background-size: cover;
  padding: 10px;
}

h1 {
  color: white;
  font-size: 40px;
  text-align: center;
  text-shadow: 5px 5px 5px black;
}

.main-content {
  margin: auto;
  padding: 35px;
  max-width: 100%;
  text-align: center;
}

.carta-pronta {
  background-color: rgb(247 , 251 , 255);
  border: 6px ridge rgb(90 , 89 , 89);
  border-radius: 10px;
  margin: auto;
  max-width: 80%;
  text-align: start;
  word-wrap: break-word;
} 

.carta-gerada {
  padding: 40px;
}

.carta-texto {
  border: 3px solid black;
  border-radius: 10px;
  padding: 4px;
  width: 40%;
}

.criar-carta {
  background-color: rgb(188, 187, 189);
  border-radius: 3px;
  padding: 4px 10px;
}

.criar-carta:hover {
  background-color: rgba(188, 187, 189, 0.377);
}

span {
  margin: 3px;
  line-height: 60px;
}

.newspaper {
  background-color: antiquewhite;
  font-family: Times New Roman, Times, serif;
  font-weight: 700;
}

.magazine1 {
  background-color: teal;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.magazine2 {
  background-image: url('/images/pink-pattern.png');
  color: fuchsia;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
}

.medium {
  font-size: 20px;
  padding: 8px;
}

.big {
  font-size: 30px;
  padding: 10px;
}

.reallybig {
  font-size: 40px;
  padding: 15px;
}

.rotateleft {
  transform: rotate(-5deg);
}

.rotateright {
  transform: rotate(5deg);
}

.skewleft {
  transform: skewX(10deg);
}

.skewright {
  transform: skewX(-10deg);
}
