body {
  margin: 0;
}

h1 {
  font-family: Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  font-size: 3em;
  margin: auto;
  padding-top: 20px;
}

header {
  background-color: grey;
  height: 100px;
  text-align: center;
  top: 0;
  width: 100%;
}

.carta-gerada {
  max-width: 90%;
  text-align: center;
}

footer {
  border: 1px solid black;
  bottom: 0;
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  font-size: 11px;
  margin: 0;
  padding: 5px;
  position: fixed;
  text-align: center;
  width: 100%;
}

.data-input {
  margin-top: 20px;
  text-align: center;
}

.newspaper {
  background-color: antiquewhite;
  font-family: 'Times New Roman', serif;;
  font-weight: bold;
}

.magazine1 {
  background-color: teal;
  color: white;
  font-family: Verdana, serif;;
  font-weight: 900;
  text-transform: uppercase;
}

.magazine2 {
  background-image: 'images/pink-pattern.png';
  color: fuchsia;
  font-family: Verdana, serif;;
  font-weight: 900;
}

.medium {
  font-size: 20px;
  padding: 8px;
}

.big {
  font-size: 30px;
  padding: 10px;
}

.reallybig {
  font-size: 40px;
  padding: 15px;
}

.rotateleft {
  transform: rotate(-5deg);
}

.rotateright {
  transform: rotate(5deg);
}

.skewleft {
  transform: matrix(1, 0, 0.176327, 1, 0, 0);
}

.skewright {
  transform: matrix(1, 0, -0.176327, 1, 0, 0);
}
